# Python cache

**pycache**/
*.py[cod]
*$py.class

# Virtual Environment

env/
venv/
ENV/

# Django stuff

*.log
*.pot
*.pyc


# Static files collected during deployment

staticfiles/

# Environment variables

.env

# VS Code

.vscode/

# OS files

.DS_Store
Thumbs.db

# Python build

build/
dist/
*.egg-info/

# Coverage / testing

.coverage
htmlcov/
.pytest_cache/

# Node (if ever used)

node_modules/

# Render build artifacts

.render
